* {
    border-radius: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #dcdcdc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    width: 100%;
    position: relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    font-weight: normal;
}

form label {
    margin-right: 20px;
}

ul {
    list-style: none;
}

.horizontal-control-group {
    margin-right: 20px;
    display: inline;
}

.wapper {
    display: flex;
    width: 100%;
}

.navbar {
    box-shadow: 1px 1px 1px #daa520;
    background-color: #fff;
}

.single-content {
    display: flex;
    height: 100%;
}

.float-card {
    box-shadow: 0 2px 6px #fafafa;
    box-shadow: 0 2px 6px rgba(250, 250, 250, 0.3);
    margin: 0 10px 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin-left: 0;
    transition: margin-left 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.float-card-single {
    margin: 0;
    width: 100%;
}

.float-card-borderd {
    border: 1px solid #33CEC3;
    box-shadow: 0 2px 6px #fafafa;
    box-shadow: 0 2px 6px rgba(250, 250, 250, 0.3);
}

.float-card .panel {
    margin-bottom: 0;
}

.float-card .list-group {
    overflow-y: auto;
}

.float-card-hide {
    opacity: 0;
    margin-left: -32%;
}

.float-card-default {
    background-color: #fff;
}

.float-card.scroll-y {
    overflow-y: auto;
}

.float-card:hover {
    box-shadow: 0 2px 6px #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.horizontal-group .form-control {
    margin-right: 10px;
}

.horizontal-group .btn {
    margin-right: 10px;
}

.horizontal-group label {
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal-group span {
    margin-top: auto;
    margin-bottom: auto;
}

.span60 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    display: inline-block;
}

.span80 {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    display: inline-block;
}

.span100 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    display: inline-block;
}

.span160 {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    display: inline-block;
}

.lbl40 {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.lbl60 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.lbl80 {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.lbl100 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.lbl120 {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.lbl140 {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}

.lbl160 {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.control60 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.control80 {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.control100 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.control120 {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.control140 {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}

.control160 {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.control180 {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

.control200 {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.control220 {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
}

.control240 {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

.control280 {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}

.no-margin {
    margin: 0;
}

.recordList li {
    padding: 5px;
}

.recordList li:hover {
    background-color: #31b0d5;
    color: #fff;
    cursor: pointer;
}

.recordList li.active {
    background-color: #31b0d5;
    color: #fff;
}
