
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section scripts{
    <script type="text/javascript">
        var datas = [];
        $(function () {
            request();
        });

        var request = function () {
            $.post('/PowerAnalysis/LoadPercentage', { 'recordGuid': '884760cf-27b3-4d0a-9174-2ef8bee1c179' }, function (ret) {
                console.log(ret.percentage);
                if (ret.percentage < 1) {
                    setTimeout(function () { request(); }, 500);
                } else {
                    loadData();
                }
            });
        }

        var loadData = function () {
            $.post('/PowerAnalysis/RecordData', { 'RecordGuid': '884760cf-27b3-4d0a-9174-2ef8bee1c179', StartIndex: 0, EndIndex: 14400 }, function (ret) {
                datas = datas.concat(ret.data);
                alert('数据读取完成');
            });
        }
    </script>
}