@using Newtonsoft.Json
@model PowerQualityModel.ViewModel.RecordInfo
@{
    ViewBag.Title = "VoltageCurrent";
}

<div id="pageLoading" style="width: 400px; margin: auto; background-color: #fff; padding: 20px;">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div>
        <h3 style="text-align: center;">后台数据准备中：<span id="percentage" style="font-weight: bolder; color: #dc143c;">0</span>%</h3>
    </div>
</div>

<div id="mainContent" style="display: none;">
    <input type="hidden" id="recordId" recordId="@Model.Record.Id" />
    <div class="float-card float-card-default" style="padding: 3px 15px; margin-bottom: 5px;">
        <form id="channelOptions" class="form form-horizontal">
            <span>显示通道：</span>
            <input type="checkbox" id="Voltage_AN" data-order="0" checked="checked"/><label for="Voltage_AN" style="margin-bottom: 0;">AN(V)</label>
            <input type="checkbox" id="Voltage_BN" data-order="1" checked="checked"/><label for="Voltage_BN" style="margin-bottom: 0;">BN(V)</label>
            <input type="checkbox" id="Voltage_CN" data-order="2" checked="checked"/><label for="Voltage_CN" style="margin-bottom: 0;">CN(V)</label>
            <input type="checkbox" id="Voltage_NG" data-order="3" checked="checked"/><label for="Voltage_NG" style="margin-bottom: 0;">NG(V)</label>
            <input type="checkbox" id="Voltage_AB" data-order="4"/><label for="Voltage_AB" style="margin-bottom: 0;">AB(V)</label>
            <input type="checkbox" id="Voltage_BC" data-order="5"/><label for="Voltage_BC" style="margin-bottom: 0;">BC(V)</label>
            <input type="checkbox" id="Voltage_CA" data-order="6"/><label for="Voltage_CA" style="margin-bottom: 0;">CA(V)</label>
            <input type="checkbox" id="Current_A" data-order="7" checked="checked"/><label for="Current_A" style="margin-bottom: 0;">A(A)</label>
            <input type="checkbox" id="Current_B" data-order="8" checked="checked"/><label for="Current_B" style="margin-bottom: 0;">B(A)</label>
            <input type="checkbox" id="Current_C" data-order="9" checked="checked"/><label for="Current_C" style="margin-bottom: 0;">C(A)</label>
            <input type="checkbox" id="Current_N" data-order="10" checked="checked"/><label for="Current_N" style="margin-bottom: 0;">N(A)</label>
        </form>
    </div>

    <div id="chartContainer" class="float-card float-card-default" style="padding: 10px;">
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/echarts")
    <script src="~/Scripts/function/powercharts.js"></script>
    <script src="~/Scripts/function/powerAnalysis.js"></script>
    <script type="text/javascript">
        var recordInfo = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
}